<!--suppress BadExpressionStatementJS, JSUnresolvedVariable -->
<div class="modal-content" xmlns:v-on="http://www.w3.org/1999/xhtml">
    Are you sure you want to delete __name__?

    <div id="controls" class="horizontal-form margin-top-20px">
        <button class="warn pointer" onclick="app.delete_person('__id__', __index__); global_delete_user_winbox.close()" style="margin-right: 50px">Delete</button>
        <div></div>
        <button class="pointer" onclick="global_delete_user_winbox.close()">Cancel</button>
    </div>
</div>