<!--suppress BadExpressionStatementJS, JSUnresolvedVariable -->
<div class="modal-content" xmlns:v-on="http://www.w3.org/1999/xhtml">
    You have unsaved changes for __name__

    <div id="controls" class="horizontal-form margin-top-20px">
        <button class="warn pointer" onclick="app.content_menu = ''; global_unsaved_person_winbox.close()" style="margin-right: 50px">Reset changes</button>
        <div></div>
        <button class="pointer" onclick="global_unsaved_person_winbox.close()">Cancel</button>
    </div>
</div>