body {
    background: white;

    /*Font*/
    font-family: 'Fira Code', monospace;
    text-rendering: optimizeLegibility;
    color: #b8bcba;
    font-size: 16px;
    line-height: 20px;

    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 0;
}

a {
    color: #33a0cf;
}

.strong {
    color: white;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}

button {
    outline: 0;
    border: 0;

    height: 42px;
    min-width: 130px;
    min-height: 32px;
    width: 100%;

    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 16px;

    color: #33383d;
    background-color: #dedede;
}

button:hover {
    background: #e5e5e5;
}

/*input*/
input {
    outline: 0;
    padding: 10px;
    height: 40px;

    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    background: #dedede;
    color: #33383d;
    border: 1px solid #222428;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

.box {
    border-radius: 5px;
    background: #36393f;
    width: 630px;
    /*height: 250px;*/
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.padding {
    padding: 30px;
}

.margin {
    margin-bottom: 8px !important;
}

.margin-big {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

.flex-vertical {
    display: flex;
    flex-direction: row;
}

.flex-vertical-left {
    flex-basis: 400px;
}

.flex-vertical-right {
    flex-basis: 230px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-left {
    margin-left: 30px;
}



