:root {
    --content-list-width: 275px;
    --projects-list-width: 0px; /* 72px */
}

.app_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: wrap;*/
    align-items: stretch;
    height: 100%;
}

#projects {
    flex-basis: var(--projects-list-width);
    height: 100vh;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;


    overflow-x: hidden;
    overflow-y: auto;
}

#main_window {
    flex-basis: calc(100vw - var(--projects-list-width));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: stretch;*/
}

#top_bar {
    flex-basis: 48px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;

    z-index: 2;
    position: relative;
}

#person_list_header, #person_list {
    flex-basis: var(--content-list-width);
}

#content_box_header {
    flex-basis: calc(100vw - var(--content-list-width) - var(--projects-list-width));

    /*display: flex;*/
    /*align-items: center;*/

    line-height: 48px;
}

#content_box_header div {
    vertical-align: middle;
}

#bottom_window {
    flex-basis: calc(100vh - 48px) !important;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    /*height: 100%;*/
}

#person_list {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}

#content_box {
    flex-basis: calc(100vw - var(--content-list-width) - var(--projects-list-width));
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}

.fake-button, .two-reverse-side-row-elements {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.two-reverse-side-row-elements[class~="flex-start"] {
    justify-content: flex-start !important;
}

.three-row-elements {
    display: flex !important;

}




