<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--<meta xmlns:th="http://www.thymeleaf.org" name="_csrf" th:content="${_csrf.token}"/>-->
<!--<meta xmlns:th="http://www.thymeleaf.org" name="_csrf_header" th:content="${_csrf.headerName}"/>-->

<link type="image/png" sizes="150x150" rel="icon" th:href="@{/assets/relic.png}">

<link rel="stylesheet" th:href="@{/assets/main.css}"/>
<link rel="stylesheet" th:href="@{/assets/css/colors_light.css}"/>
<link rel="stylesheet" th:href="@{/assets/flexbox.css}"/>
<link rel="stylesheet" th:href="@{/assets/winbox/winbox.min.css}"/>
<link rel="stylesheet" th:href="@{/assets/css/winbox-custom.css}"/>
<link rel="stylesheet" th:href="@{/assets/font-awesome/css/all.css}">
<link rel="stylesheet" th:href="@{/assets/css/forms_flexbox.css}">

<link rel="stylesheet" href="https://unpkg.com/vue-anka-cropper@0.1.0/dist/VueAnkaCropper.css">

<link rel="stylesheet" th:href="@{/assets/css/vue2-animate.min.css}"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
