<script src="/assets/js/nanobar0.4.2.js"></script>

<!--<script>-->
<!--    let nanoBarGlobal = new Nanobar({-->
<!--        classname: 'my-class',-->
<!--        id: 'my-id',-->
<!--        target: document.getElementById('myDivId')-->
<!--    });-->
<!--    nanoBarGlobal.go(10);-->
<!--</script>-->

<script src="/assets/js/jquery3.5.1.js"></script>

<script src="/assets/winbox/winbox.min.js"></script>

<script src="/assets/js/global_vars.js"></script>
<script src="/assets/js/utils.js"></script>

<script type="text/javascript" src="/assets/js/vue2.6.12.js"></script>

<script type="text/javascript" src="https://unpkg.com/vue-anka-cropper/dist/VueAnkaCropper.umd.min.js"></script>

<script src="/assets/js/axios0.21.1.js"></script>


